<button
    class="{{ buttonClass }}"
    id="{{ buttonId }}"
    name="{{ buttonName }}"
    autofocus="{{ buttonAutofocus ? buttonAutofocus : null }}"
    disabled="{{ buttonDisabled ? buttonDisabled : null }}"
    [attr.form]="buttonForm"
    [attr.formaction]="buttonFormaction ? buttonFormaction : null"
    [attr.formenctype]="buttonFormenctype ? buttonFormenctype : null"
    [attr.formmethod]="buttonFormmethod ? buttonFormmethod : null"
    [attr.formnovalidate]="buttonFormnovalidate ? buttonFormnovalidate : null"
    [attr.formtarget]="buttonFormtarget ? buttonFormtarget : null"
    [attr.popovertarget]="buttonPopovertarget ? buttonPopovertarget : null"
    [attr.popovertargetaction]="buttonPopovertargetaction ? buttonPopovertargetaction : null"
    type=" {{ buttonType }}"
    value="{{ buttonValue }}"
    [innerHTML]="buttonInnerHTML"
    [(ngModel)]="buttonValue"
></button>